<div id="agregarNuevaPresentacion" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:black;">
                <h4 class="modal-title" style="color:white">Agregar Nueva Presentación</h4>
            </div>
            <section>
                <div class="alert alert-@ViewBag.alerta" style="text-align:center"><b id="respuesta"></b></div>
            </section>
            <div class="modal-body">
                <div class="form-outline mb-4">
                    <label class="form-label" for="presentacionNueva">Ingrese presentación nueva: </label>
                    <input type="text" name="presentacionNueva" id="presentacionNueva" class="form-control form-control-lg" required />
                    @Html.ValidationMessage("presentacionNueva")
                </div>
                <button type="submit" class="btn btn-success" onclick="agregarNuevaPresentacion();"><i class="bi bi-box-arrow-down"> Guardar</i></button>
                <a class="btn btn-secondary" data-dismiss="modal" onclick="$('#agregarNuevaPresentacion').modal('hide');listarPresentacionProducto();"><i class="bi bi-box-arrow-down-left"> Regresar</i></a>
            </div>
        </div>
    </div>
</div>