@{
    ViewData["Title"] = "Detalles productos";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle" style="text-align:center">
        <h1 class="card-title" id="tituloIndex">Detalles de productos</h1>
    </section><br />
    <div class="row" style="display:flex; flex-direction: row; align-items:center; justify-content: space-evenly; flex-wrap: wrap;">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle" style="text-align:center; align-items:center">
            <a class="btn btn-outline-dark" style="width:200px; height:200px" href="/DetalleProductos/Presentaciones"><img src="~/Imagenes/presentacion.png" alt="Imagen referencial" style="width: 100%; height: 150px" /><br />Presentaciones</a>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle" style="text-align:center; align-items:center">
            <a class="btn btn-outline-dark" style="width:200px; height:200px" href="/DetalleProductos/TiposProducto"><img src="~/Imagenes/tiposProducto.png" alt="Imagen referencial" style="width: 100%; height: 150px" /><br />Tipos de productos</a>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle" style="text-align:center; align-items:center">
            <a class="btn btn-outline-dark" style="width:200px; height:200px" href="/DetalleProductos/UnidadesMedida"><img src="~/Imagenes/unidadMedida.png" alt="Imagen referencial" style="width: 100%; height: 150px" /><br />Unidad de medida</a>
        </section>
    </div>
    <br /><br />
</main>