<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.bundle.js" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <link rel="icon" href="/Imagenes/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaNewMejia.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleLayout.css" />
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="main-container d-flex">
        <div class="sidebar" id="side_nav">
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
                <h1 class="fs-4">
                    <img src="~/Imagenes/logo.png" alt="" width="23" class="d-inline-block align-text-top">
                    <span class="text-white"> Grifo New Mejía</span>
                </h1>
                <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><span class="fs-4"><i class="bi bi-justify"></i></span></button>
            </div>
            <ul class="list-unstyled px-2">
                <li class="">
                    <a class="nav-link text-decoration-none px-3 py-2 d-block" asp-area="" asp-controller="DetalleProductos" asp-action="Index">
                        <i class="bi bi-eye"></i> Detalles Productos
                    </a>
                </li>
                <li class="">
                    <a class="nav-link text-decoration-none px-3 py-2 d-block" asp-area="" asp-controller="Almacen" asp-action="Index">
                        <i class="bi bi-shop-window"></i> Almacén
                    </a>
                </li>
                <li class="">
                    <a class="nav-link text-decoration-none px-3 py-2 d-block" asp-area="" asp-controller="Venta" asp-action="Index">
                        <i class="bi bi-wallet2"></i> Vender
                    </a>
                </li>
                <li class="">
                    <a class="nav-link text-decoration-none px-3 py-2 d-block" asp-area="" asp-controller="Venta" asp-action="VerCesta">
                        <i class="bi bi-minecart"></i> Cesta
                    </a>
                </li>
                <li class="">
                    <a class="nav-link text-decoration-none px-3 py-2 d-block" asp-area="" asp-controller="Venta" asp-action="verVentas">
                        <i class="bi bi-clipboard-data"></i> Ventas
                    </a>
                </li>
            </ul>            
            <hr class="h-color mx-2">
            <ul class="list-unstyled px-2" style="align-content:end">
                <li class="">
                    <a class="nav-link text-decoration-none px-3 py-2 d-block" asp-area="" asp-controller="" asp-action="">
                        <i class="bi bi-person"></i> Perfil
                    </a>
                </li>
                <li class="">
                    <a class="nav-link text-decoration-none px-3 py-2 d-block" asp-area="" asp-controller="" asp-action="">
                        <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark d-md-none d-block" id="header">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <a class="navbar-brand fs-4" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/Imagenes/logo.png" alt="" width="23" class="d-inline-block align-text-top"> Grifo New Mejía
                        </a>
                    </div>
                    <button class="navbar-toggler open-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
            <div class="dashboard-content px-3 pt-4" id="content-body">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        //$('.sidebar ul li').on('click' , function(){
        //    $('.sidebar ul li.active').removeClass('active');
        //    $(this).addClass('active');
        //});
        $('.open-btn').on('click', function () {
            $('.sidebar').addClass('active');
        });
        $('.close-btn').on('click', function () {
            $('.sidebar').removeClass('active');
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
